.form__input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--color-light);
  border-radius: 10px;
  padding: 5px 12px;
  font-size: 11px;
  font-family: 'Onest', sans-serif;
  color: var(--color-light);
}

.form__input::placeholder {
  color: var(--color-light);
  opacity: 0.6;
}

.form__input:focus-visible {
  outline: 1px solid var(--color-light);
}