.cards {
  /* display: flex;
  justify-content: space-between;
  align-items: flex-start; */
  /* gap: 40px; */
  width: 100%;
  margin: 60px 0 0;
  user-select: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.card__image {
  height: 87px;
}

.card__title {
  color: var(--color-primary);
  text-align: center;
  font-size: 21px;
  font-weight: 900;
}

.card__text {
  color: var(--color-dark);
  text-align: center;
  font-size: 16px;
  max-width: 350px;
}

.cards__controls {
  height: 27px;
  margin-top: 15px;
  position: relative;
}

.cards__controls .swiper-button-prev {
  left: 35%;
}
.cards__controls .swiper-button-next {
  left: 65%;
}

@media (max-width: 750px) {
  .cards {
      gap: 0;
    }
}

