.cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  margin: 60px 0 0;
}

.card-row {
  display: flex;
  gap: 40px;
}

.card {
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.card__image {
  height: 87px;
}

.card__title {
  color: var(--color-primary);
  text-align: center;
  font-size: 21px;
  font-weight: 900;
}

.card__text {
  color: var(--color-dark);
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1200px) {
  .cards {
    justify-content: center;
    gap: 100px;
  }

  .card-row {
    flex-direction: column;
    justify-content: flex-start;
  }
}

@media (max-width: 700px) {
  .card:nth-of-type(2),
  .card-row:nth-of-type(2) {
    display: none;
  }
}