.cities {
  display: flex;
  gap: 21px;
  margin: 75px 0 0;
  height: 275px;
}

.city-card {
  width: 25%;
  height: 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  filter: grayscale(1);
  transition: filter 0.5s;
  padding: 16px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.city-card_moscow {
  background-image: url("../image/Moscow.png");
}

.city-card_spb {
  background-image: url("../image/SPb.png");
}

.city-card_telaviv {
  background-image: url("../image/TelAviv.png");
}

.city-card_barcelona {
  background-image: url("../image/Barcelona.png");
}

.city-card:hover {
  filter: grayscale(0);
}

.city-card__title {
  text-transform: uppercase;
  color: var(--color-light);
  font-size: 24px;
  font-weight: 900;
  max-width: 176px;
}

@media (max-width: 1200px) {
  .cities {
    height: 220px;
  }
}