.city-photos {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 10px;
}

.city-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.city-photo:nth-of-type(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.city-photo:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.city-photo:nth-of-type(3) {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.city-photo:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.photo-wrapper {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  position: relative;
}

.city-photo__link {
  position: absolute;
  text-decoration: none;
  color: var(--color-primary);
  font-size: 14px;
}

.photo-link {
  top: 7px;
  right: 9px;
  padding: 8px 12px;
  background-color: #FFFFFFc2;
  border: 1px solid var(--color-light);
  border-radius: 40px;
}

.video-link {
  text-transform: uppercase;
  bottom: 0;
  right: 0;
  background-color: var(--color-light);
  padding: 8px 4px 8px 14px;
  max-width: 175px;
  border-top-left-radius: 40px;
  display: flex;
  gap: 14px;
  z-index: 10;
}

.video-link_primary {
  max-width: none;
  background-color: #95C9C5;
  border-radius: 20px;
  color: var(--color-light);
  align-items: center;
  padding: 8px 14px;
  bottom: 0;
  font-size: 12px;
}

.video-link_primary img {
  width: 22px;
}

.city-photos__gallery {
  display: none;
  position: relative;
}

.city-photos__gallery .swiper-slide {
  height: auto;
}

.city-photos__controls {
  top: 50%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  display: none;
}

.city-photos__control {
  width: 27px;
  height: 27px;
  background-image: url('../image/arrow-round_next.svg');
}

.city-photos__control:first-child {
  background-image: url('../image/arrow-round_next.svg');
  transform: rotate(180deg);
}

@media (max-width: 770px) {

  .city-photos {
    display: none;
  }

  .city-photos__gallery,
  .city-photos__controls {
    display: flex;
  }
}


