.feedback {
  margin: 40px 0 30px;
  padding-top: 40px;
  position: relative;
}

.feedback-card {
  border-radius: 30px;
  background: #F6F6F6;
  min-height: 200px;
  padding: 13px 23px 23px;
  /* margin-right: 24px; */
  position: relative;
}

.feedback-card__image {
  position: absolute;
  left: 32px;
  top: -32px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.feedback-card__name {
  display: block;
  margin: 0 0 36px 104px;
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 400;
}

.feedback-card__text {
  color: var(--color-dark);
  font-size: 14px;
  font-weight: 400;
}

.feedback__controls {
  height: 45px;
  position: relative;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-prev, .swiper-button-next {
  background-repeat: no-repeat;
  top: 50%;
}

.swiper-button-prev {
  background-image: url("../image/arrow_prev.svg");
}

.swiper-button-next {
  background-image: url("../image/arrow_next.svg");
}

@media (max-width: 800px) {

  .feedback {
    margin-top: 40px;
  }

  .feedback-card {
    width: 100%;
  }
  
  .feedback-card:nth-of-type(2),
  .feedback-card:nth-of-type(3) {
    display: none;
  }
}