.tag {
  display: flex;
  gap: 6px;
  font-size: 18px;
  margin-bottom: 25px;
}

.section_info__form {
  background-image: url('../image/form-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  min-width: 356px;
  padding: 28px 24px 28px 33px;
}

.section_info__form .form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.section_info__form .form__title {
  color: var(--color-light);
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0;
}

.section_info__form .form__rating {
  color: var(--color-light);
  font-size: 14px;
}

.section_info__form .form__rating::before {
  content: url('../image/star_light.svg');
  margin-right: 5px;
}

.section_info__form .form__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6px 33px;
  margin-bottom: 27px;
}

.section_info__form .form__label {
  color: var(--color-light);
  font-size: 13px;
}

.section_info__form .form__price {
  color: var(--color-light);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 18px;
}

.section_info__form .form__price span:last-child {
  font-size: 36px;
  font-weight: 700;
}

.section_additional-info .section__title {
  margin-bottom: 50px;
}

.info-card {
  margin-bottom: 75px;
  max-width: 750px;
}

.info-card__title {
  margin-bottom: 25px;
  color: var(--color-primary);
  font-size: 30px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.info-card__title::before {
  margin-right: 20px;
  display: inline-block;
}

.info-card:nth-of-type(1) .info-card__title::before {
  content: url('../image/map-icon.svg');
  width: 42px;
  height: 40px;
}

.info-card:nth-of-type(2) .info-card__title::before {
  content: url('../image/plus-icon_transparent.svg');
  width: 32px;
  height: 32px;
}

.info-card:nth-of-type(3) .info-card__title::before {
  content: url('../image/tag-icon_transparent.svg');
  width: 38px;
  height: 38px;
}

.info-card:nth-of-type(4) .info-card__title::before {
  content: url('../image/chat-icon.svg');
  width: 35px;
  height: 32px;
}

.info-card__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
}

.info-card__item::before {
  content: url('../image/cross-icon.svg');
  margin-right: 14px;
  display: inline;
  vertical-align: middle;
}

.info-card__item_checked::before {
  content: url('../image/check-icon.svg');
}


@media (max-width: 500px) {

  .tag {
    font-size: 16px;
  }

  .section_additional-info .section__title {
    margin-bottom: 30px;
  }

  .info-card {
    margin-bottom: 43px;
  }

  .info-card__title {
    font-size: 18px;
  }

  .info-card__item {
    font-size: 14px;
  }

  .section_info__form {
    min-width: 100%;
  }
}