.marquee {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 7px;
  margin-bottom: 112px;
}

.marquee__text {
  line-height: 130%;
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 900;
}

.marquee__dot {
  font-weight: 900;
  font-size: 21px;
  margin-bottom: 10px;
}