.marquee {
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: 7px;
  margin: 89px 0 112px;
}

.marquee__text {
  line-height: 130%;
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 900;
}

.marquee__dot {
  display: inline-block;
  margin-bottom: 6px;
  width: 4px;
  height: 4px;
  background-color: var(--color-light);
  border-radius: 50%;
}

@media (max-width: 1200px) {
  .marquee {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}