html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Onest', sans-serif;
}

body:has(dialog[open]) {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

.page__title {
  color: var(--color-light);
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 55px;
  max-width: 1055px;
}

.product-page__title {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 33px;
}

/* Slider controls */

.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  top: 100%;
}

.swiper-button-prev {
  background-image: url("../image/arrow_prev.svg");
}

.swiper-button-next {
  background-image: url("../image/arrow_next.svg");
}

@media (max-width: 1200px) {
  .page__title {
    font-size: 55px;
  }
}

@media (max-width: 950px) {
  .page__title {
    font-size: 32px;
    max-width: 580px;
    margin-bottom: 25px;
  }

  .product-page__title {
    font-size: 27px;
  }
}

@media (max-width: 390px) {
  .page__title {
    font-size: 24px;
  }
}