.product-feedback__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-feedback__title {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 50px;
}

.product-feedback__card {
  background-color: #DFF1F0;
  padding: 26px 70px 40px 30px;
  border-radius: 20px;
  margin-bottom: 35px;
}

.product-feedback__rating {
  margin-bottom: 20px;
}

.product-feedback__rating svg {
  color: #BCBCBC;
}

.product-feedback__rating_5 svg:nth-child(1), 
.product-feedback__rating_5 svg:nth-child(2),
.product-feedback__rating_5 svg:nth-child(3),
.product-feedback__rating_5 svg:nth-child(4),
.product-feedback__rating_5 svg:nth-child(5),
.product-feedback__rating_4 svg:nth-child(1),
.product-feedback__rating_4 svg:nth-child(2),
.product-feedback__rating_4 svg:nth-child(3),
.product-feedback__rating_4 svg:nth-child(4),
.product-feedback__rating_3 svg:nth-child(1),
.product-feedback__rating_3 svg:nth-child(2),
.product-feedback__rating_3 svg:nth-child(3),
.product-feedback__rating_2 svg:nth-child(1),
.product-feedback__rating_2 svg:nth-child(2),
.product-feedback__rating_1 svg:nth-child(1) {
  color: var(--color-primary);
}

.product-feedback__user {
    margin-bottom: 17px;
}

.product-feedback__image {
  display: inline-block;
  border-radius: 50%;
  height: 61px;
  width: 61px;
  background-color: var(--color-primary);
}

.product-feedback__name {
  display: inline-block;
  margin-left: 20px;
}
.product-feedback__text {}