.search {
  padding: 17px 12px 17px 24px;
  margin-bottom: 132px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  color: var(--color-light);
}

.search__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.search__input {
  background-color: transparent;
  color: var(--color-light);
  font-size: 30px;
  font-weight: 500;
  border: none;
  outline: none;
}

.search__input::placeholder {
  color: var(--color-light);
  font-family: 'Onest';
}