.search {
  padding: 10px 12px 17px 24px;
  margin-bottom: 132px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  color: var(--color-light);
}

.search__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.search__input {
  background-color: transparent;
  color: var(--color-light);
  font-size: 30px;
  font-weight: 500;
  border: none;
  outline: none;
  width: 100%;
}

.search__input_primary {
  color: var(--color-primary);
  font-size: 21px;
  font-weight: 400;
} 

.search__input::placeholder {
  color: var(--color-light);
  font-family: 'Onest';
}

.search__input_primary::placeholder {
  color: var(--color-primary);
}

.search_transparent {
  background-color: transparent;
  color: var(--color-primary);
  border-radius: 15px;
  border: 2px solid #58AAA5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 24px;
}

@media (max-width: 1200px) {
  .section_main .search__input {
    font-size: 24px;
  }
}