.section {
  margin-bottom: 100px;
}

.section-wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.section-wrapper_video {
  display: flex;
  gap: 88px;
}

.section-wrapper_subscribe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.section_main {
  width: 100%;
  max-width: 100%;
  height: 800px;
  margin-top: -100px;
  margin-bottom: 0;
  padding-top: 275px;
  padding-bottom: 64px;
  background: url("../image/section_background.png");
  background-size: 115%;
  background-position-x: 25%;
  background-repeat: no-repeat;
}

.section_options {
  padding-top: 143px;
  background-image: url("../image/line6.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 25px;
}

.section_cards {
  margin-bottom: 0;
  padding-top: 18px;
}

.section_feedback {
  padding-top: 60px;
}

.section_video {
  padding-top: 46px;
  background-image: url("../image/line5.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -50px;
}

.section_subscribe {
  padding-top: 56px;
  padding-bottom: 100px;
  margin-bottom: 0;
  background-image: url("../image/line3.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 22px;
}

.section__title {
  font-size: 39px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.section__title_primary {
  color: var(--color-primary);
}

.section__title_centered {
  text-align: center;
}

.section__title_subscribe {
  max-width: 540px;
}

.section__subtitle {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  max-width: 512px;
  margin: 58px 0 35px;
}

.section__link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-light);
  font-size: 30px;
  font-weight: 900;
  position: relative;
}

.section__link:hover {
  text-decoration: underline;
}

.section__text {
  margin: 33px 0 45px;
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 400;
}

.section__text {
  margin: 0 0 25px;
}

.section_options .section__text {
  margin-bottom: 60px;
  margin-top: 0;
  padding-top: 20px;
}

.section_options .section__text::before {
  content: url('../image/star.svg');
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
}

.section_subscribe .section__text {
  max-width: 420px;
}

.text_nowrap {
  white-space: nowrap;
}

.text_light-background {
  display: inline-block;
  background-color: var(--color-light);
  padding-right: 20px;
}

.section__image {
  width: 50%;
}

.section__image_vertical {
  display: none;
}

.section_video .section__content {
  max-width: 519px;
  margin-top: 70px;
  position: relative;
}

.section_video .section__content::after {
  content: url("../image/arrow_curly.png");
  position: absolute;
  bottom: 35px;
  left: -50px;
}

.section_search {
  margin-top: 60px;
  margin-bottom: 26px;
}

.section_city-photos {
  margin-bottom: 50px;
}

.section_info .section-wrapper {
  display: flex;
  gap: 120px;
}

@media (max-width: 1330px) {
  .section_main {
    background-size: cover;
  }
}

@media (max-width: 1200px) {

  .section {
    margin-bottom: 70px;
  }

  .section-wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-wrapper_video {
    flex-direction: column-reverse;
    gap: 40px;
  }

  .section_video .section__content {
    max-width: 100%;
    margin-top: 0;
  }

  .section_video .section__content::after {
    right: 50px;
    bottom: -50px;
    left: auto;
    transform: rotate(-75deg);
  }

  .section_video .section__subtitle {
    max-width: 100%;
  }

  .section_options {
    padding-top: 50px;
  }

  .section_subscribe {
    margin-bottom: 0;
  }
}

@media (max-width: 950px) {

  .section_main {
    height: 620px;
    padding-top: 120px;
  }

  .section__content_main {
    display: flex;
    flex-direction: column-reverse;
    gap: 225px;
  }

  .section__link {
    font-size: 18px;
    font-weight: 500;
  }

  .section_options {
    padding-top: 0;
    background-image: none;
  }

  .text_light-background {
    padding: 0;
  }

  .section_cities .section__title {
    text-align: left;
  }

  .section__image {
    display: none;
  }

  .section__image_vertical {
    display: block;
    width: 100%;
    margin-top: 30px;
  }

  .section_subscribe .section__text {
    max-width: 100%;
  }

  .section_info .section-wrapper {
    flex-direction: column;
    gap: 60px;
  }
}

@media (max-width: 770px) {
  .section_search {
    margin-top: 27px;
    margin-bottom: 32px;
  }

  .section-wrapper_city-photos {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 500px) {

  .section_main {
    background-image: url("../image/section_background_mobile.png");
  }

  .section__title {
    font-size: 33px;
  }

  .section__text {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .section_options .section__text, 
  .section__text-info {
    font-size: 14px;
  }

  .section_cards {
    padding-top: 0;
    margin-bottom: 0;
  }

  .section_feedback {
    padding-top: 0;
  }

  .section_feedback .section__title {
    text-align: left;
  }

  .section_video {
    padding-top: 0;
  }

  .text_nowrap {
    white-space: normal;
  }

  .section__subtitle {
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 18px;
  }

  .section_video .section__content::after {
    transform: scale(0.5) rotate(-75deg);
    right: -30px;
    bottom: -40px;
  }
}

@media (max-width: 390px) {

  .section {
    margin-bottom: 50px;
  }

  .section-wrapper:not(.section-wrapper_city-photos) {
    padding-right: 25px;
    padding-left: 25px;
  }

  .section_main {
    height: 500px;
  }

  .section__title {
    font-size: 24px;
  }

  .section__content_main {
    gap: 100px;
  }

  .section_subscribe {
    padding-bottom: 0;
  }
}