.section {
  margin-bottom: 100px;
}

.section-wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.section-wrapper_video {
  display: flex;
  gap: 88px;
}

.section-wrapper_subscribe {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.section_main {
  width: 100%;
  max-width: 100%;
  height: 800px;
  margin-top: -100px;
  margin-bottom: 0;
  padding-top: 275px;
  background: url("../image/line.png") 0px 367px, url("../image/section_background.png");
  background-size: contain, cover;
  background-repeat: no-repeat;
}

.section_options {
  padding-top: 143px;
  background-image: url("../image/line6.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 45px;
}

.section_cards {
  margin-bottom: 0;
}

.section_feedback {
  padding-top: 60px;
}

.section_video {
  padding-top: 46px;
  background-image: url("../image/line5.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: -50px;
}

.section_subscribe {
  padding-top: 56px;
  background-image: url("../image/line3.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.section__title {
  font-size: 39px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-secondary);
}

.section__title_primary {
  color: var(--color-primary);
}

.section__title_centered {
  text-align: center;
}

.section__title_subscribe {
  max-width: 500px;
}

.section__title_light-background {
  display: inline;
  background-color: var(--color-light);
  padding-right: 20px;
}

.section__subtitle {
  color: var(--color-secondary);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
  line-height: 130%;
  max-width: 512px;
  margin: 58px 0 35px;
}

.section__link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-light);
  font-size: 30px;
  font-weight: 900;
}

.section_options .section__text {
  margin-bottom: 60px;
}

.section_options .section__text::before {
  content: url('../image/star.svg');
  display: inline;
  vertical-align: middle;
}

.section__text {
  margin: 33px 0 45px;
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 400;
}

.section__image {
  width: 50%;
}

.section__content {
  max-width: 540px;
  margin-top: 70px;
}