.select {

}

.header__select {}

.burger-menu__select-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: space-between;
}

.burger-menu__select {
  text-transform: uppercase;
  min-width: 100px;
  border-radius: 13px;
  border: 1px solid var(--color-secondary);
  padding: 6px 12px;
  font-size: 14px;
  color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  gap: 10px;
}