.select-wrapper {
  display: flex;
  justify-content: space-between;
  width: 110px;
  background-color: transparent;
  border: 1px solid var(--color-light);
  color: var(--color-light);
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 13px;
  padding: 5px 12px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.select-wrapper::after {
  content: ">";
  transform: rotate(90deg);
}

.select-wrapper_active {
  border-radius: 13px 13px 0 0;
  border-bottom: none;
}

.select-wrapper_active::after {
  transform: rotate(270deg);
}

.custom-select {
  display: none;
}

.custom-select_active {
  width: 110px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  position: absolute;
  top: 26px;
  left: -1px;
  background: transparent;
  border: 1px solid var(--color-light);
  border-radius: 0 0 13px 13px;
  border-top: 0;
}

.custom-select__option {
  color: var(--color-light);
  font-size: 14px;
  padding: 7px;
}

.custom-select__option:hover {
  background-color: var(--color-secondary);
  border-radius: 13px;
}

.burger-menu__select-wrapper {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

.burger-menu__select {
  text-transform: uppercase;
  min-width: 100px;
  border-radius: 13px;
  border: 1px solid var(--color-secondary);
  padding: 6px 12px;
  font-size: 14px;
  color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
  gap: 10px;
}