.video-wrapper {
  width: 333px;
  height: 661px;
  background-image: url(../image/video.png);
  margin-left: 105px;
}

@media (max-width: 1200px) {
  .video-wrapper {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .video-wrapper {
    width: 240px;
    height: 476px;
    background-size: cover;
  }
}